<div class="max-w-7xl m-10">
    @if(step() === 0){
    <div class="w-full">
        <div class="flex flex-col gap-4 justify-center items-center p-8 bg-gray-100 rounded-2xl">
            <hero-icons icon="clipboard" [size]="48" class="caret-gray-700" />
            <p class="text-sm leading-[150%]">Zapisz sesje treningową, która nie została zarejestrowana w aplikacji.</p>
            <div class="mb-4 text-center flex flex-col items-center gap-2">
                <label class="text-xs font-semibold">Data treningu</label>
                <input
                    type="date"
                    class="px-3 py-2 border border-gray-200 rounded-lg text-sm w-full"
                    [formControl]="workoutDate"
                    [value]="workoutDate.value" />
            </div>
            <button type="button" class="button" (click)="onCreateWorkout()" [disabled]="!workoutDate.value">Dodaj ćwiczenie</button>
        </div>
    </div>
    } @if(step() === 1){ @if(exercises()?.length === 0){
    <div class="w-full">
        <div class="flex flex-col gap-4 justify-center items-center p-8 bg-gray-100 rounded-2xl">
            <hero-icons icon="circle-stack" [size]="48" class="caret-gray-700" />
            <p class="text-sm leading-[150%]">Brak dodanych ćwiczeń lub utracono połączenie z bazą danych.</p>
            <button role="buttom" class="button">Spróbuj ponownie</button>
        </div>
    </div>
    }@else {
    <form [formGroup]="fg" (ngSubmit)="onSubmitHandler()">
        <div class="flex flex-wrap w-full">
            <div class="w-6/12"><p class="text-xl font-bold leading-[130%] mb-2">Wykonane serie</p></div>
            <div class="w-6/12 pl-4"><p class="text-xl font-bold leading-[130%] mb-2">Dostępne ćwiczenia</p></div>
            <div class="w-full"></div>
            <div class="w-6/12">
                <div class="p-4 bg-gray-100 rounded-2xl mb-2">
                    <div class="mb-4">
                        <p class="text-xs font-semibold mb-2">Ilość powtórzeń / Obiążenie</p>

                        <div formArrayName="workoutSets">
                            @for(group of fg.get('workoutSets').value; track group.length){
                            <div class="grid grid-cols-4 gap-2 mb-2" [formArrayName]="$index">
                                @for(control of group; track $index){
                                <div class="col-span-2">
                                    <input
                                        #input
                                        (focus)="
                                            input.type = 'text'; input.setSelectionRange(0, input?.value?.length); input.type = 'number'
                                        "
                                        [value]="0"
                                        type="string"
                                        class="px-3 py-2 border border-gray-200 rounded-lg text-sm w-full"
                                        [formControlName]="$index" />
                                </div>
                                }
                            </div>
                            }
                        </div>
                    </div>
                    <div role="button" class="button button--outline mx-auto" (click)="onAddSeriesHandler()">Dodaj serię</div>
                </div>

                <div class="flex flex-nowrap justify-between">
                    <button type="submit" class="button" [disabled]="!fg.get('workoutMuscleGroup').value">Zapisz</button>
                    <div role="button" class="button button--outline mx-auto" (click)="onFinishClickHandler()">Zakończ</div>
                </div>
            </div>
            <div class="w-6/12 pl-4 flex flex-col gap-y-6">
                @for(group of exercises(); track $index){
                <div class="flex flex-col w-full gap-2">
                    <p class="text-xs font-semibold mb-2 leading-[150%]">{{ group.group }}</p>
                    @for(item of group.exercises; track $index){
                    <label [for]="'muslce-' + item.id" class="flex flex-nowrap gap-2 items-center">
                        <input
                            type="radio"
                            [id]="'muslce-' + item.id"
                            [value]="item.id"
                            formControlName="workoutMuscleGroup"
                            name="workoutMuscleGroup" />
                        <span class="text-sm leading-[150%]">{{ item.name }}</span>
                        <span class="text-sm leading-[150%]">{{ item.id }}</span>
                    </label>
                    }
                </div>
                }
            </div>
        </div>
    </form>
    } }
</div>
