@if (workoutsCalendar()) {
    @for (workoutsMonth of workoutsCalendar(); track $index) {
        <section class="calendar-review">
            <div class="mb-2 px-8 flex items-center gap-4">
                <div class="">
                    <hero-icons [icon]="'calendar'" [size]="14" />
                </div>
                <p class="text-base font-bold">{{ workoutsMonth.key | date: 'LLLL' | uppercase }}</p>
            </div>

            <div class="calendar-review__list bg-gray-100 p-8">
                @for (workout of workoutsMonth.values; track $index) {
                    <a
                        [routerLink]="[WORKOUT_PAGE_ROUTES_ENUM.DEFAULT, workout.id]"
                        class="calendar-review__list-item flex gap-4 flex-nowrap items-center">
                        <div class="flex flex-col w-full">
                            <p class="text-sm font-bold leading-[150%]">
                                {{ workout.createdAt | date: 'EEEE' | capitalize }}
                            </p>
                            <div class="flex flex-nowrap items-center gap-2 leading-[150%]">
                                <p class="text-sm text-gray-400">{{ workout.createdAt | date: 'dd MMMM, y' }}</p>
                            </div>
                        </div>
                        <div class="flex justify-center items-center">
                            <hero-icons
                                [icon]="'chevron-right'"
                                [size]="16"
                                class="flex-[0_0_32px] w-[32px] h-[32px] p-1 bg-white rounded-lg shadow-sm flex items-center justify-center" />
                        </div>
                    </a>
                }
            </div>
        </section>
    }
}
