@if (workoutDetails()) {
    <div class="px-4 py-6">
        <app-workout-view-header [workoutDetails]="workoutDetails()" />

        <div class="px-4">
            <p class="text-xs leading-[150%] mb-2">Potwórzenia x obciążenie [kg]</p>
        </div>
        <div class="training-details__list bg-gray-100 p-4 rounded-3xl">
            @for (workoutExercise of workoutExercises(); track $index) {
                <div class="training-details__list-item" (click)="onWorkoutExerciseClickHandler(workoutExercise.id)">
                    <div class="flex items-center gap-2 mb-3">
                        <!-- <div class="bg-white shadow-lg p-2 rounded-full border flex justify-center items-center">
                    <hero-icons [icon]="'check-circle'" [size]="20" />
                </div> -->
                        <div>
                            <p class="text-xs text-gray-400">{{ workoutExercise.group }}</p>
                            <p class="text-sm font-bold leading-[130%]">{{ workoutExercise.name }}</p>
                        </div>
                    </div>

                    <div class="w-full">
                        @if (workoutExercise.series()?.length) {
                            <div class="flex flex-nowrap items-center gap-2 overflow-x-auto">
                                @for (rep of workoutExercise.series(); track $index; let last = $last) {
                                    <div class="training-details__list-item__rep text-sm font-semibold">
                                        {{ rep?.count ?? 0 }}x{{ rep?.weight ?? 0 }}
                                    </div>
                                    @if (!last) {
                                        <div class="w-[1px] h-[25px] bg-gray-300"></div>
                                    }
                                }
                            </div>
                        } @else {
                            <p class="text-xs font-bold leading-[150%] text-zinc-500">Brak serii w ćwiczeniu</p>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- <app-workout-create-series /> -->

    <app-bottom-bar>
        <div class="flex flex-col justify-center">
            <button role="button" class="button m-auto p-3" (click)="clickNewExercise()">
                <hero-icons [icon]="'plus'" [size]="20" />
            </button>
        </div>
    </app-bottom-bar>
}
