<div
    class="bottom-sheet inset-0 fixed overflow-auto flex justify-center"
    [ngClass]="{
        'bottom-sheet--is-open': isOpened(),
        'bottom-sheet--is-touch': isTouch(),
    }"
    [ngStyle]="{
        '--bottom-sheet--touch-translateY': touchOffset() + 'px',
    }">
    <div class="fixed inset-0 bottom-sheet__backdrop"></div>
    <div #bottomSheetWindow class="p-8 flex flex-col m-auto w-full bottom-sheet__window">
        <div #bottomSheetWindowBar class="bottom-sheet__window-bar"></div>
        <div #bottomSheetWindowContent class="bg-white rounded-2xl w-full p-8 touch-pan-y">
            <ng-content></ng-content>
        </div>
    </div>
</div>
