<app-bottom-sheet #addWorkoutExerciseBottomSheet [closable]="closable" (onClose)="closeOverlay()">
    @if (closable) {
        <div class="flex justify-between gap-10 mb-6 pl-4">
            <button class="button button--plain text-xs font-normal" (click)="clickCancel()">Anuluj</button>
        </div>
    }
    <div class="mb-4">
        <app-control-select
            [ngModel]="selectedMuscle()"
            (ngModelChange)="changeExercise($event)"
            [label]="'Partia mięśniowa'"
            [options]="muscleOptions()" />
    </div>
    <div class="p-4 bg-gray-100 mt-4 rounded-2xl">
        @if (!selectedMuscle()) {
            <div class="flex flex-col items-center gap-2">
                <hero-icons [icon]="'magnifying-glass'" [size]="20" />
                <p class="text-xs leading-[150%] hover:underline">Lista ćwiczeń</p>
            </div>
        } @else {
            <div class="flex flex-col">
                @for (exercise of exercises(); track $index) {
                    <p
                        class="text-sm leading-[150%] p-1 border-b border-b-gray-100"
                        [ngClass]="{
                            'bg-gray-200': exercise.id === selectedExercise(),
                        }"
                        (click)="clickExercise(exercise.id)">
                        {{ exercise.name }}
                    </p>
                }
            </div>
        }
    </div>
    <div class="mt-4">
        <button type="button" class="button w-full" [disabled]="!selectedExercise()" (click)="clickCreate()">
            Dalej
        </button>
    </div>
</app-bottom-sheet>
