<div
    class="flex w-full items-center gap-2 border border-gray-300 focus-within:border-gray-900 rounded-3xl p-1"
    (click)="onOpenHandler()">
    <input
        readonly
        placeholder="Wybierz"
        type="text"
        class="w-full h-[24px] pl-4 pr-0 py-1 outline-none m-0 text-xs"
        [value]="_value()?.value" />
    <button class="button button--plain p-2">
        <shared-hero-icons [icon]="'ChevronDownIcon'" class="size-4" />
    </button>
</div>

<ng-template #optionsTpl>
    <app-bottom-sheet #optionsSheet (onClose)="onOptionsCloseHandler()">
        <div class="flex justify-between items-center mb-8">
            <button class="text-xs leading-[150%] flex items-center gap-1" (click)="clickCancel()">
                <shared-hero-icons [icon]="'XMarkIcon'" class="size-5" />
                <span>Anuluj</span>
            </button>
            <button class="font-semibold text-xs leading-[150%]" (click)="clickSave()">Zapisz</button>
        </div>
        <div class="flex flex-col gap-2">
            @for (option of options; track $index) {
                <div
                    (click)="onOptionClickHandler(option)"
                    class="px-4 py-3 bg-gray-100 rounded-full flex items-center control-select__option"
                    [ngClass]="{
                        'control-select__option--is-active': option.id === _value()?.id,
                    }">
                    <p class="text-sm truncate overflow w-full">{{ option.value }}</p>
                    <div class="rounded-full border control-select__option-indicator"></div>
                </div>
            }
        </div>
    </app-bottom-sheet>
</ng-template>
