.control-select {
    &__option {
        &--is-active {
            --control-select-option-indicator-border: 4px;
            --control-select-option-indicator-color: var(--color-yellow-600);
            background-color: var(--color-red-100);
        }

        &-indicator {
            width: 20px;
            height: 20px;
            position: relative;
            aspect-ratio: 1 / 1;
            box-shadow: inset 0 0 0 var(--control-select-option-indicator-border, 1px) #000000;
        }
    }
}
