.link {
    font-size: var(--text-sm);
    line-height: 150%;
    text-decoration: none;
    color: var(--text-link-color, var(--color-neutral-950));

    &:hover,
    &:focus {
        text-decoration: underline;
        color: var(--text-link--hover-color, var(--text-link-color, var(--color-neutral-700)));
    }

    &--light {
        --text-link-color: var(--color-neutral-400);
    }
}
